{
  "environment":"production",
  "authorization": {
      "sudo": {
        // the deploy user specifically gets sudo rights
        // if you're using vagrant it's worth adding "vagrant"
        // to this array
        "users": ["deploy"]
      }
      
    },
  "rbenv":{
    "rubies": [
      "1.9.3-p286"
    ],
    "global" : "1.9.3-p286",
    "gems": {
      "1.9.3-p286" : [
        {"name":"bundler"}
      ]
    }
  },
  "monit": {
      "notify_email" : ["email@example.com"],
      "enable_emails" : false,
      "web_interface" : {
        "allow" : ["MONIT_USERNAME","MONIT_PASSWORD"]
      },
      "mailserver" : {
        "host" : "MAILSERVER_ADDRESS",
        "port" : "999",
        "username" : "MAILSERVER_USERNAME",
        "password" : "MAILSERVER_PASSWORD",
        "hostname" : "MAILSERVER_HOSTNAME"
      }
    },
    "postgresql" : {
      "password" : {
        "postgres" : "POSTGRES_PASSWORD"
      }
    },
  "run_list":
  [
    "role[server]",
    "role[nginx]",
    "role[postgres-server]",
    "role[rails-app]",
    "role[redis-server]"
  ]
}
