{
  "environment":"production",
  "rbenv":{
    "rubies": [
      "1.9.3-p286"
    ],
    "global" : "1.9.3-p286",
    "gems": {
      "1.9.3-p286" : [
        {"name":"bundler"}
      ]
    }
  },
  "monit": {
      "notify_email" : "email@example.com",
      "enable_emails" : true,
      "web_interface" : {
        "allow" : ["username","password"]
      },
      {
        "mailserver" : {
          "host" : "mailserver.example.com",
          "port" : "999",
          "username" : "your_username",
          "password" : "your_password",
          "hostname" : "the_hostname"
        }
      }
    },
    "postgresql" : {
      "password" : {
        "postgres" : ""
      }
    },
  "run_list":
  [
    "role[server]",
    "role[nginx]",
    "role[postgres-server]",
    "role[rails-app]",
    "role[redis-server]"
  ]
}
